nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 6vw;
  background-color: var(--green);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease 0.5s;
}

.menu-nav {
  width: 100%;
  margin: 26px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 30px 30px;
}

.img-icone {
  display: none;
  margin-right: 90px;
}

.header-nav button {
  background-color: transparent;
  border: transparent;
}

.header-nav img,
.content-menu,
.footer-nav img {
  cursor: pointer;
}

.content-menu {
  margin: 0 15px 8px 15px;
}

.content-menu {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 12px;
}

.active {
  background-color: var(--light-grey);
}

.text-p {
  display: none;
  margin-left: 10px;
  font-size: .9rem;
  color: var(--text-color);
  text-decoration: none;
}

.footer-nav {
  padding: 0 15px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: var(--light-green);
}

.info-user {
  display: none;
  line-height: 15px;
  color: var(--text-color);
}

.info-user p:first-child {
  font-size: .9rem;
}

.info-user p:last-child {
  font-size: .7rem;
}

.info-user img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: -3px 0;
  border-radius: 12px;
}

.text-user {
  min-width: 100%;
}

main {
  padding: 20px;
  width: 100%;
  background-color: #F2F3F4;
}

main h1 {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 500;
}

.add-nav {
  width: 22vw;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease 0.5s;
}

.add-block {
  display: block;
}

.add-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.padding {
  padding: 0 15px 0 15px;
}

.h1-main {
  font-size: 50px;
}