<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/static/images/shortcut_icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/pedidos.css">
    <title>AgroConnect | Dashboard</title>
  </head>
<body>
  <nav>
    <div class="menu-nav">
      <div class="header-nav">
        <img class="img-icone" src="/static/images/farm-logo.svg" >
        <button onclick="clicou()"><img src="/static/images/menu.svg" alt="Icone do Menu"></button>
      </div>
      <div class="content-menu active">
        <img src="/static/images/search.svg" alt="Icone de Pesquisa">
        <p class="text-p">Buscar</p>
      </div>
      <div class="content-menu">
        <img src="/static/images/grid.svg" alt="Icone de Dashboard">
        <p class="text-p">Dashboard</p>
      </div>
      <div class="content-menu">
        <a href="/dashboard"><img src="/static/images/request-quote.svg" alt="Icone de pedidos"></a>
        <a href="/dashboard"  class="text-p">Meus pedidos</a>
      </div>
      <div class="content-menu">
        <a href="/form"><img src="/static/images/shopping-cart.svg" alt="Icone de Carrinho de compras"></a>
        <a href="/form" class="text-p">Criar pedido</a>
      </div>
      
      <div class="content-menu">
        <img src="/static/images/settings.svg" alt="Icone de Ajustes">
        <p class="text-p">Ajustes</p>
      </div>
    </div>
    <div class="footer-nav">
      <div class="info-user">
        <img src="/static/images/photo.jpg" alt="Foto do Usuário">
        <div class="text-user">
          <p>Davi Ribeiro</p>
          <p>DEUS</p>
        </div>
      </div>
      <a href="/leave"><img src="/static/images/log-out.svg" alt="Icone de Sair"></a>
    </div>
  </nav>

  <main>
    <h1 class="h1-main">Meus Pedidos</h1>

    <div class="container-pedidos">
        <div class="pedidos">
          <div class="filtrar-pedidos" id="filtrar-pedidos">
            <p>Filtrar por</p>
            <div class="filtrar-status">
              <select>
                <option> Todos</option>
                <option value="1">Novo</option>
                <option value="4">Enviado</option>
                <option value="3">Processamento</option>
                <option value="5,6">Concluido</option>
                <option value="0">Cancelado</option>
                <option value="2">Pendente</option>
              </select>
            </div>
          </div>

          {% for request in list %}

          <div class="tudao-pedidos">
            <section class="cardPedido">
              <div class="pedido">
                <div class="numeroPedido">
                   <div class="textNumberRequest">NÚMERO DO PEDIDO</div>
                   <div class="numberRequestText">
                      {{ request[0] }}
                   </div>
                </div>
                <div class="status">
                  <div class="textStatus">STATUS</div>
                  <div class="status-pedido-em-transito">Em trânsito</div>
                </div>
                <div class="data">
                  <div class="textData">PRODUTO</div>
                  <div class="data-pedido">{{ request[1] }}</div>
                </div>
                <div class="pagamento">
                  <div class="textPagamento">PAGAMENTO</div>
                  <div class="tipo-pagamento">{{ request[2] }}</div>
                </div>

                <div class="detalhes-pedido">
                  <div class="textDetalhes">Detalhes do pedido</div>
                  <button type="button" class="img-detalhes" id="show-hide">
                    <img src=".//static/images/down-arrow.svg" width="15" height="14" viewBox = "0 & 15 14" fill="none">
                  </button>
                </div>
              </div>
            </section>
          </div>

          {% endfor %}

        </div>

        <div id="idPedidos" class="tudao-produto hidden" >
          <div class="detalhe-produto">
            <div class="produtoText">PRODUTO</div>
            <div class="totalText">Total</div>
          </div>
          <div class="produto">
            <div class="cardProduto">
              <div class="produto-informacao">
                <div class="imagem-produto">
                  <img src=".//static/images/castanha.jpg" width="136" height="136">
                </div>

                <div class="produto-descricao">
                  <div class="produto-name">Castanha</div>
                  <div class="produto-quantidade">
                    Quantidade:
                    1
                  </div>
                </div>
                <div class="produto-preco">
                  R$&nbsp;15,60
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    

  </main>
  

  <script src="/static/js/dashboard_script.js"></script>
  
</body>
</html>
