<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/login_style.css">
  <link rel="shortcut icon" href="/static/images/shortcut_icon.png" type="image/x-icon">
  <title>AgroConnect | Login</title>
</head>

<body>
  <div class="container">
    <section class="leftside">
      <header class="header">
        <a href="/" class="logo">
          <img src="/static/images/AgroLogo.png" id="login-logo">
        </a>
      </header>
      <div class="form-container">
        <form action="/validate" method="post">
          <div class="title">
            <img src="/static/assets/log-in.svg" alt="login">
            <h1>Faça seu login</h1>
          </div>
          <p>Entre com sua informações de cadastro.</p>
          <div class="input-fields">
            <div class="input-field">
              <label for="email">E-mail</label>
              <div class="input-wrapper">
                <span class="input-icon-mail"></span>
                <input type="email" name="email" id="email" placeholder="Digite seu email">
              </div>
            </div>
            <div class="input-field">
              <label for="password">Senha</label>
              <div class="input-wrapper">
                <span class="input-icon-password"></span>
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
                <span class="input-icon-eye"></span>
              </div>
            </div>
            <div class="input-field">
              <input type="checkbox" name="remember" id="remember">
              <label for="remember">Lembre-me</label>
              <span><a href="#lost-password" class="
                links">Esqueci minha senha</a></span>
            </div>
          </div>
          <button>Entrar</button>
          <p>Não tem uma conta? <a href="/signup" class="
            links">Registre-se</a></p>  
        </form>
      </div>
    </section>
    <section class="rightside">
      <img src="/static/images/login-image3.png" alt="" style="width: 100%; height: 100%;">
    </section>
  </div>
</body>

</html>
