<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/shortcut_icon.png" type="image/x-icon">
  <title>AgroConnect | Cadastro</title>
  <link rel="stylesheet" href="/static/css/register_styles.css">
</head>
<body>
  <div class="container">
    <form class="form-container" id="register-form" action="">
      <div class="login"> 
        <div class="email">
          <div class="row">
              <label for="email">E-mail</label>
              <input type="email" name="email" id="email"  data-min-length="2" data-email-validate>
           </div> 
           <div class="row">
              <label for="email">Repetir e-mail</label>
              <input type="email" name="emailconfirmation" id="emailconfirmation"  data-min-length="2" data-email-validate>
          </div>
        </div>
        <div class="senha">
          <div class="row">
              <label for="password">Crie uma senha</label>
              <input type="password" name="password" id="password"  data-password-validate data-required>
          </div>
          <div class="row">
              <label for="passconfirmation">Confirmação de senha</label>
              <input type="password" name="passconfirmation" id="passwordconfirmation"  data-equal="password">
          </div>    
        </div>
      </div>
    <div class="row center"> 
      <div class="dados-cadastrais">
        <fieldset class="cadastro-fieldset">
          <legend> Dados Cadastrais</legend>

          <div class="tipo-pessoa">
            <label for="pessoa-fisica">Pessoa Fisica</label>
            <input type="radio" name="tipo-pessoa" id="tipo-pessoa" value="pessoa-fisica"  checked>
            <label for="pessoa-juridica">Pessoa juridica</label>
            <input type="radio" name="tipo-pessoa" id="tipo-pessoa" value="pessoa-juridica">
          </div>
          
            <div class="dados-pessoa">
              <div class="row">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name"  data-required data-min-length="3" data-max-length="16">
              </div>
              <div class="row">
                <label for="lastname">Sobrenome</label>
                <input type="text" name="lastname" id="lastname"  data-required data-only-letters>
              </div>
              <div class="row">
                <label for="cpf">CPF/CNPJ</label>
                <input type="text" name="cpf" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" required>
              </div> 
              <div class="row">
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone"  required placeholder="(xx) xxxxx-xxxx">
              </div>  
              <div class="row">
                <label for="nascimento">Data de nascimento:</label>
                <input type="date" id="nascimento" name="nascimento">
              </div>
        </fieldset>
        </div>

        <div class="endereco">
          <fieldset class="endereco-fieldset">
            <legend>Endereço</legend>

            <div class="endereco-pessoa">
              <div class="row">
                <label for="cep">CEP</label>
                <input id="cep" type="text" required>
              </div>
              <div class="row">
                <label for="Rua">Rua</label>
                <input id="rua" name="rua" type="text" required/>
              </div> 
              <div class="row">
                <label for="complemento">Complemento</label>
                <input id="complemento" type="text"/>
              </div>
              <div class="row">
                <label for="bairro">Bairro</label>
                <input id="bairro" type="text" required/>
              </div>
              <div class="row">
                <label for="uf">Estado</label>
                  <select id="uf">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                </div>  
            </div>
          </fieldset>
        </div>
      </div> 
      <button type="submit" class="button">Cadastrar</button>
    </form> 
  </div>
  
</body>
</html>